/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-middle-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-grey: #eeeeee;
  --basic-light-grey: #f2f2f2;
  --basic-hover-grey: #EBEBEB;
  --basic-focus-grey: #E5E5E5;
  --focus-grey-footer: #BDBBBC;
  --basic-light-blue: #81B3D2;
  --basic-middle-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-extra-dark: #333333;
}

/* Global */

.visually-hidden {
 position: absolute;
 clip: rect(1px, 1px, 1px, 1px);
 padding:0;
 border:0;
 height: 1px;
 width: 1px;
 overflow: hidden;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.all {
  width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0 , 1 , 1 , 0.2);
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main Header */

.main-header {
  outline-offset: -5px;
  display: grid;
}

/* Site Navigation Wrapper */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-header-bar {
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding-left: 73px;
  padding-right: 73px;
  min-height: 56px;
  list-style: none;
  font-weight: 700;
  display: flex;
}

.site-navigation li {
  padding-top: 14px;
}

.site-navigation li:nth-child(2) {
  margin-left: 133px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:nth-child(4) {
  margin-left: 147px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* Site Navigation a */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-light-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation a.active {
  color: var(--basic-brown);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

/* Logo */

.main-header-logo {
  justify-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 70px;
}

/* Main Screen */

.main-screen {
  height: 509px;
  background-image: url("../img/first-screen-sedona.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0 auto 42px auto;
  text-align: center;
  position: relative;
}

.main-screen div {
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/decor-mask.png");
}

.main-screen img {
  margin-top: 77px;
}

.map {
  width: 1200px;
  display: block;
}

/* Features */

.features {
  margin-bottom: 60px;
}

.features-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 44px;
  text-align: center;
}

.features-compare {
  text-align: center;
  line-height: 26px;
  margin-bottom: 51px;
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.feature-item-img {
  height: 256px;
  grid-column: 1 / -1;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.item-img-right {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.item-img-left {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-descript-img {
  padding-top: 50px;
}

.feature-item-img h2,
.feature-with-icon h2,
.feature-no-icon h2,
.feature-number,
.feature-descript {
  text-align: center;
  margin: 0;
  padding: 0;
}

.feature-item-img h2,
.feature-with-icon h2,
.feature-no-icon h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.feature-with-icon h2 {
  margin-top: 24px;
  margin-bottom: 25px;
}

.feature-number,
.feature-descript {
  font-size: 14px;
  line-height: 21px;
}

.feature-number {
  margin-top: 25px;
  margin-bottom: 23px;
}

.feature-with-icon {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 82px;
}

.feature-no-icon {
  background-color: var(--basic-grey);
  padding-top: 47px;
  padding-bottom: 54px;
}

/* Form */

.search {
  position: relative;
}

.search-main-heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.search-info {
  margin-top: 36px;
  margin-bottom: 42px;
  line-height: 24px;
}

.search-hotel {
  width: 568px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  padding: 30px 0;
  border: none;
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 316px
}

.search-hotel:hover {
  background-color: var(--basic-middle-brown);
}

.search-hotel:focus {
  background-color: var(--basic-dark-brown);
  color: rgba(255 , 255 , 255 , 0.3);
}

.form-search {
  margin: 0 auto;
  background-color: var(--basic-white);
  padding: 55px;
  width: 458px;
  box-shadow: 0 7px 15px 0 rgba(0 , 1 , 1 , 0.2);
  position: absolute;
  top: 233px;
  left: 50%;
  transform: translateX(-50%);
}

.info-item {
  margin: 0;
}

.info-item-date {
  margin-top: 29px;
  margin-bottom: 30px;
}

.check-in {
  margin-left: 19px;
}

.check-out {
  margin-left: 16px;
}

.long-input {
  position: relative;
}

.short-inputs {
  display: flex;
  justify-content: space-between;
}

.short-inputs p {
  margin: 0;
}

.ic-calendar {
  width: 24px;
  height: 24px;
  background-image: url("../img/ic-calendar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 7px;
  padding: 0;
}

.ic-calendar:hover {
  background-image: url("../img/ic-calendar-hover.svg");
}

.ic-calendar:focus {
  background-image: url("../img/ic-calendar-focus.svg");
}

.input-wrap {
  display: flex;
  align-items: center;
}

.input-wrap-adults {
  margin-left: 40px;
}

.input-wrap-kids {
  margin-left: 26px;
}

.main-wrap {
  display: flex
}

.main-wrap label {
  padding-top: 8px;
}

.ic-minus,
.ic-plus {
  width: 38px;
  height: 38px;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--basic-light-grey);
  padding: 0;
  cursor: pointer;
}

.ic-minus {
  background-image: url("../img/ic-minus.svg");
}

.ic-minus:hover {
  background-image: url("../img/ic-minus-hover.svg");
}

.ic-minus:focus {
  background-image: url("../img/ic-minus-focus.svg");
}

.ic-plus {
  background-image: url("../img/ic-plus.svg");
}

.ic-plus:hover {
  background-image: url("../img/ic-plus-hover.svg");
}

.ic-plus:focus {
  background-image: url("../img/ic-plus-focus.svg");
}

.search-heading,
.search-info {
  text-align: center;
}

.info-item label {
  font-weight: 700;
}

.info-item input {
  font: inherit;
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  border: none;
  width: 334px;
  height: 38px;
  padding: 0;
  padding-left: 12px;
}

.info-item input:hover {
  background-color: var(--basic-hover-grey);
}

.info-item input:focus {
  background: none;
  border: 2px solid var(--basic-focus-grey);
  width: 332px;
  height: 34px;
  padding-left: 10px;
}

.info-item input.info-item-kids:focus,
.info-item input.info-item-adults:focus {
  width: 34px
}

.info-item input.info-item-adults,
.info-item input.info-item-kids {
  width: 38px;
  text-align: center;
  padding: 0;
}

.info-item-last {
  margin-left: 50.66px;
}

.submit-button {
  width: 458px;
  height: 58px;
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin-top: 54px;
}

.submit-button:hover {
  background-color: var(--basic-middle-blue);
}

.submit-button:focus {
  background-color: var(--basic-dark-blue);
  color: rgba(255 , 255 , 255 , 0.3);
}

/* Main Footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 90%;
  padding-top: 23px;
  padding-bottom: 36px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-inner {
  position: static;
  opacity: 100%;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts,
.footer-social {
  text-align: center;
}

.footer-contacts {
  padding-left: 69px;
}

.footer-hashtag,
.footer-phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}
.footer-hashtag {
  margin-bottom: 9px;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  background-color: var(--basic-middle-blue);
}

.social-button:focus {
  background-color: var(--basic-dark-blue);
}

.social-button:focus path {
  fill-opacity: 0.3;
}

.footer-social {
  padding-top: 12px;
  margin: 0 auto;
}

.footer-social ul {
  display: grid;
  grid-template-columns: 46px 46px 46px;
  column-gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-left: 66px;
}

.footer-copyright .link-made-by {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.link-made-by:hover path {
  fill: var(--basic-light-blue);
}

.link-made-by:focus path {
  fill: var(--focus-grey-footer);
}

/* Catalog Page */

.filters {
  background-image: url("../img/blur-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: var(--basic-black);
}

.filters form {
  padding: 26px 72px 31px 72px;
  display: flex;
}

fieldset {
  border: none
}

.infrastructure {
  margin-left: 0;
  margin-right: 117px;
  padding: 0;
}

.housing-type {
  padding: 0;
  margin: 0
}

.filters ul {
  padding: 0;
  margin: 0;
  margin-top: 25px
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option-last {
  margin: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 43px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/ic-checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/ic-checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filters ul,
.search-results ul {
  list-style: none;
}

.search-options h2 {
  margin: 0;
  margin-right: 46px;
}

.sorting {
  font-weight: 600;
}

.variant-row,
.search-options {
  padding: 31px 73px 34px 73px;
  background-image: url("../img/1px-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.found {
  display: flex;
}

.sort-types {
  padding: 0;
}

.sort-types li:not(:first-child) {
  margin-left: 32px;
}

.sorting,
.sort-types {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-right: 40px;
}

.sort-types,
.search-options {
  display: flex;
}

.sort-types .current {
  color: var(--basic-light-blue);
  text-decoration: none;
}

.arrows {
  display: flex;
  padding-top: 7px;
  margin-left: auto;
}

.arrows a {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.arrows-up {
  background-image: url("../img/ic-sort-up.svg");
  margin-right: 4px;
}

.arrows-up:hover {
  background-image: url("../img/ic-sort-up-hover.svg");
}

.arrows-up:focus {
  background-image: url("../img/ic-sort-up-focus.svg");
}

.arrows-down {
  background-image: url("../img/ic-sort-down.svg");
}

.sort-types a {
  color: var(--basic-black);
  opacity: 30%;
  text-decoration: underline;
}

.sort-types a:hover {
  color: var(--basic-light-blue);
  text-decoration: underline;
  opacity: 100%;
}

.sort-types a:focus {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 100%;
}

.infrastructure legend,
.housing-type legend,
.filter-item legend {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filters label {
  color: var(--basic-white);
}

.filter-item {
  margin-left: auto;
  padding: 0;
  border: none;
}

.range-filter {
  width: 317px;
  margin-top: 11px;
}

.range-controls {
  position: relative;
  margin-top: 11px;
  margin-bottom: 23px;
  height: 11px;
  padding-top: 9px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 0px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 253px;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-max:hover {
  top: -2px;
  border: 10px solid var(--basic-white);
}

.range-button {
  padding: 8px 35px 8px 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  font-family: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.range-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.price-controls {
  display: flex;
  position: relative;
}

.price-controls div {
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  position: absolute;
  top: 7px;
  left: 159px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  padding-top: 7px;
  padding-bottom: 9px;
  text-align: center;
  color: #283136;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  color: var(--basic-white);
}

.min-price,
.max-price {
  width: 140px;
  position: relative;
}

.min-price input {
  padding-left: 13px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.max-price input {
  width: 127px;
  padding-left: 47px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.min-price-from,
.max-price-to {
  position: absolute;
  top: 7px;
}

.min-price-from {
  left: 67px;
}

.max-price-to {
  left: 73px;
}

/* Variants */

.variants {
  width: 1054px;
  grid-template-rows: repeat(2, auto);
  padding: 0;
  margin: 0;
}

.variant-row {
  padding: 30px 73px;
  width: 1054px;
  display: block;
}

.variant-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  margin-left: 29px;
}

.more,
.book-in {
  display: block;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  padding: 3px 17px;
}

.more {
  background-color: var(--basic-light-blue);
}

.book-in {
  background-color: var(--basic-brown);
  margin-left: 6px;
}

.more:hover {
  background-color: var(--basic-middle-blue);
}

.more:focus {
  background-color: var(--basic-dark-blue);
  color: rgba(255 , 255 , 255 , 0.3);
}

.book-in:hover {
  background-color: var(--basic-middle-brown);
}

.book-in:focus {
  background-color: var(--basic-dark-brown);
  color: rgba(255 , 255 , 255 , 0.3);
}

.variant-name:hover {
  color: var(--basic-light-blue);
}

.variant-name:focus {
  color: var(--basic-black);
  opacity: 30%;
}

.variants .variant-row {
  display: grid;
  grid-template-columns: 135px 1fr auto;
}

.variant-info {
  margin-left: 29px;
}

.variant-about,
.variant-links {
  display: flex;
}

.variant-about {
  margin-top: 7px;
}

.variant-home,
.variant-price {
  margin: 0;
}

.variant-home {
  width: 110.69px;
}

.variant-price {
  margin-left: 6px;
}

.variant-links {
  margin-top: 9px;
}

.right {
  flex-direction: column;
  align-items: flex-end;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;

}

.stars li {
  width: 19px;
  height: 17px;
  display: block;
  background-image: url("../img/ic-star.svg");
  background-repeat: no-repeat;
  margin-left: 5px;
}

.variant-rate {
  text-align: center;
  margin: 0;
  margin-top: 47px;
  background-color: var(--basic-light-grey);
  padding: 3px 12px 3px 15px;
  line-height: 21px;
}
